<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-8">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Default Dictionary
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Default Dictionary</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-success" ng-click="dictionary.saveWords()">Accept</button>
                <button type="button" class="btn btn-danger" ng-click="dictionary.clearWords()">Reject</button>
            </div>
        </div>
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    PL <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">PL</a></li>
                </ul>
            </div>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    RU <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">RU</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>No</th>
            <th>Word</th>
            <th>Transcription</th>
            <th>Translations</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>
                <p>N</p>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" required ng-model="dictionary.newWord.word" ng-blur="dictionary.autofill()">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="dictionary.newWord.transcription">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" required ng-model="dictionary.newWord.translations">
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="dictionary.addWord()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
        <tr ng-repeat="word in dictionary.dictionary track by $index">
            <td>
                <p>{{$index + 1}}</p>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="word.word">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="word.transcription">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="word.translations">
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="dictionary.removeWord($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>