<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-10">
            <p>The dictionary is saved automatically.</p>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="dictionary.dictionary.name" ng-blur="dictionary.saveWords()">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="" ng-repeat="dic in dictionary.dictionaries track by $index" ng-click="dictionary.loadDic($index)">{{dic.name}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="" ng-click="dictionary.addDictionary()">New Dictionary</a></li>
                    </ul>
                </div><!-- /btn-group -->
            </div><!-- /input-group -->
        </div>
        <div class="col-md-2">
            <p>Language</p>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    PL <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">PL</a></li>
                </ul>
            </div>
            <span class="glyphicon glyphicon-arrow-right"></span>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    RU <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">RU</a></li>
                </ul>
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>No</th>
            <th>Word</th>
            <th>Transcription</th>
            <th>Translations</th>
            <th>Actions</th>
        </tr>
        <tr ng-keypress="dictionary.checkKey($event)">
            <td>
                <p>N</p>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" id="word" ng-model="dictionary.newWord.word" ng-blur="dictionary.autofill()">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="dictionary.newWord.transcription">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="dictionary.newWord.translations" ng-disabled="dictionary.isTranslationsLoading">
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="dictionary.addWord()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </td>
        </tr>
        <tr ng-repeat="word in dictionary.dictionary.words track by $index">
            <td>
                <p>{{$index + 1}}</p>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="word.word" ng-blur="dictionary.saveWords()">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="word.transcription" ng-blur="dictionary.saveWords()">
                </div>
            </td>
            <td>
                <div class="input-group-sm">
                    <input type="text" class="form-control" ng-model="word.translations" ng-blur="dictionary.saveWords()">
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="dictionary.removeWord($index)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <a href="https://translate.google.com.ua/#pl/ru/{{word.word}}" target="_blank">G</a>,
                <a href="https://translate.yandex.com/?text={{word.word}}&lang=pl-ru" target="_blank">Ya</a>
            </td>
        </tr>
    </table>
</div>